* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
li {
    display: inline;
}
div {
    min-height: 50vh;
    overflow: scroll;
}
div:nth-child(even) {
    background-color: #121212;
}
div:nth-child(odd) {
    background-color: #171717 
}
